.cart {
  display:flex;
  justify-content: space-between;
}

.cart .product_container {
  width:60%;
  margin:0.5em;


}

.cart .filters_summary {

  background-color: var(--color-brown);
  color:#fff;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  width: max-content;
  height:82vh;
  gap: 1em;

}

.cart .filters_summary div{
  padding: 1em;
}


.cart .filters_summary .to_checkout {
    font-size: 1.2em;
    font-weight: bold;
    margin:0.5em;
    padding: 1em;
    color: #562B08;
    width: fit-content;
    height: fit-content;
    border: none;
    text-shadow: -1px 1px #5d3609;
    background-color:  #e99338;
    
}

.cart .filters_summary .to_checkout:hover {
  background-color: #e68013;
}

.cart  .filters_summary .to_checkout:active {
  background-color: #da6e15;

}



@media screen  and (min-width:0px) and (max-width:768px) {


  .cart{
    flex-direction: column;
    align-content: space-between;
    height: fit-content;

  }
 
  .cart .product_container {
    width:100%;
    margin: 0;
    
  
  }

  .cart .filters_summary {
    margin:0;
    padding:0;
    height:10rem;
    width:100%;
    flex-direction: row;
  
  }

  .cart .filters_summary div{
    padding: 5%;
  }
  

.cart .filters_summary .to_checkout {
  
    margin:auto 1em auto 0.5em;
    padding: 0.5em;
    width:min-content;
  }
}



@media screen  and (min-width:769px) and (max-width:992px) {



  .cart .product_container {
    width:50%;
  
  }

  .cart .filters_summary {
    margin:0;
    padding:0;
    height:82vh;

  
  }

  .cart .filters_summary>div{
    padding: 0;
    width: 100%;
  }

 

  .cart .filters_summary .to_checkout {
    
    margin:1.5em;
    padding: 1em;
  }
 

}

@media screen  and (min-width:993px) and (max-width:1200px) {

  .cart .product_container {
    width:80%;
   
  }

  .cart .filters_summary {
    padding: 1em; 
    height:82vh;
  }




}