.container_main {
  height: 82vh;


}
.container_main_card {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  
    
}



@media screen and (max-width:1600px)
{
  .container_main {
   
    height: fit-content;
  }
    
}
