.container_single {
   
    margin:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}



@media screen and (max-width:1200px)
{

    .container_single {
   
        height: fit-content;
    }
    
}


@media screen  and (min-width:0px) and (max-width:768px)
{
  
    .container_single {
   
        margin:1rem;
      
        
    }
    
}