.header_block {
    background-color: #FFD8A9;
    margin: 0;
    padding: 0.7rem;
    height:10vh;
}



.header_1 {
    text-align:center;
    color: var(--color-brown);
    font-weight: bold;
    font-style: italic;
    font-size:2.5rem;
    
}



