.footer_1
{
  background-color:var(--color-brown);
  padding:2rem 0 1rem;
  font-size:1rem;
  line-height:1.5rem;
  color: #737373;
  -webkit-animation:  5s ease 0s normal forwards 1 fadein;
  animation:5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.footer_1 hr
{
  border-top-color:#737373;
  opacity:0.5
}
.footer_1 hr
{
  margin:20px 0
}

.footer_1 a
{
  color:#737373;
}
.footer_1 a:hover
{
  color:var(--color-beige);
  text-decoration:none;
}


.footer_1 .footer-links
{
  padding-left:0;
  list-style:none;
  display:flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer_1 .footer-links li
{
  font-size: 1.5rem;
}


.footer_1 .footer-links a
{
  color:#737373;
}
.footer_1 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: var(--color-beige);
  text-decoration:none;
}

.footer_1 .links_1 {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:1rem;
  margin: 0 2rem;
}


.footer_1 .social-menu {
  list-style: none;
  display: flex;
  gap:2rem;
  
}


.footer_1 .copyright-text
{
  margin:0;
}


@media screen and (min-width:0px) and (max-width:1024px)
{
  .footer_1
  {
    
    margin: 0;
  }
  .footer_1 .copyright-text, .footer_1 .slogan
  {

    text-align:center;
  }

  .footer_1 .links_1 {
    padding:1rem;
    display:flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer_1 .footer-links 
  {
    justify-content: center;
  }
  
  .footer_1 .social-handle-list {
    justify-content: center;
  }

}

