

.about_background {
position: relative;
height: 40rem;
z-index: 0;
background: url("../../img/burger_ketchup.png") right bottom no-repeat, url("../../img/Burger.png") left top no-repeat;

}

.about_text {
    position:absolute;
    z-index: 4;
    top:10rem;
    font-size: 1.5rem;
    line-height: 200%;
    text-align: justify;
    text-indent: 2rem;
    margin:2rem 12rem;
}


@media screen  and (min-width:0px) and (max-width:768px)
{
    .about_background {

        height: 60rem;
        background: url("../../img/burger_ketchup.png") right bottom no-repeat, url("../../img/Burger.png") top left  no-repeat;
        opacity: .5;
        
        }

    .about_text {
            font-size: 1.5rem;
            
            line-height: 200%;
            text-align: justify;
            text-indent: 2rem;
            margin:0 2rem;
            padding: 2rem;
           
        }
        
        
}

