.checkout_container{
    display:flex;
    flex-direction: row;
}
  
.checkout_container .form {
    width: 70%;
    margin-bottom: 0.2rem;
    margin-top:0.2rem;
    margin-left: 2rem;
}


.checkout_container h4 {
    font-weight: bold;
    display: block;
    text-align:left;
    margin: 0.6rem 0;
    
  
}
.checkout_container .order_summary {

    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: fit-content;
    height:fit-content;
    gap: 1em;
    
   
}


.checkout_container .order_summary h4 {
    text-align: center;
    
}


.checkout_container  .order_summary .to_thank_you {
        font-size: 1.2em;
        font-weight: bold;
        margin: 2em auto;
        padding: 1em;
        color: #fff;
        width: fit-content;
        height: fit-content;
        border: none;
        border-radius: 0%;
        text-shadow: -1px 1px #5d3609;
        background-color:  #e99338;
        
}
    
.checkout_container  .order_summary .to_thank_you:hover {
            background-color: #e68013;
}
    
.checkout_container  .order_summary .to_thank_you:active {
        background-color: #da6e15;
    
}


.modal_wind_content_receipt {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: var(--color-beige);
    padding:5%;
    max-height: fit-content;
    
 
}



.modal_wind_content_receipt .thank_you_text {  
    padding-right:1em;
    
    
}

.modal_wind_content_receipt .thank_you_text p {
    padding:1em;

}

.modal_wind_content_receipt .thank_you_image {
    width:100%;

}


.modal_wind_content_receipt .thank_you_text > div {
    text-align: center;
    font-weight: bold;
    
}

.modal_wind_content_receipt .close {
    position:absolute;
    top:0em;
    right:-3em;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border: none;
    text-shadow: -1px 1px #5d3609;
    background-color:  #e99338;
    
}

.modal_wind_content_receipt .close:hover {
        background-color: #e68013;
}

.modal_wind_content_receipt .close:active {
    background-color: #da6e15;
    pointer-events: all;
}




@media screen  and (min-width:0px) and (max-width:768px) {
    .checkout_container {
        flex-direction: column;
    }

    .checkout_container .form {
        width: 80%;
        margin-left:10%;
        
    }

    .checkout_container .order_summary {
        margin: 0 auto;
       
    }

    .modal_wind_content_receipt {
        padding:2.2em 1.2em 1.2em;
        flex-direction: column;
        font-size: 0.9em;
      
    }

    .modal_wind_content_receipt .close {
        font-size: 1em;
        right:-2.5em;

    }

}

@media screen  and (min-width:769px) and (max-width:1200px) {
    
    .checkout_container {
        flex-direction: column;
        
    }

    .checkout_container .form {
        width: 85%;
        margin-left:13%;
        padding: 0 auto;
    }

    .checkout_container .order_summary {
        margin: 0 auto;
       
    }

    .modal_wind_content_receipt {
        flex-direction: column;
        
    }
    

}

@media screen  and (min-width:1201px) {
   
  .modal_wind_content_receipt > div{
    width:50%;
  }

}
