.modal_wind.act{

    opacity:1;
    pointer-events: all;

    
}




.modal_wind {
   
    
    width:100vw;
    height: 100vh;
    background-color:rgba(0,0,0,.4);
    position:fixed;
    z-index: 101;
    top:0;
    left:0;
    display: flex;
    align-items:center;
    justify-content:center;
    transition:0.5s;
    opacity: 0;
    pointer-events:none;
    overflow-y: auto;
}

.modal_wind_content {
    
    border-radius:20px;
    background-color:white;
    transform: scale(0.5);
    transition:0.4s all;
    width: fit-content;
    margin-top: 0vh;
    max-height: 85%;
    max-width: 70vw;
    

}


.modal_wind_content.act {
    transform: scale(1);
}


@media screen  and (min-width:0px) and (max-width:768px)
  {

    .modal_wind_content {
        
        width:max-content;
       

    }


  }