.main_card {

    cursor: pointer;
    color: var(--color-black);
    margin: 0 5rem;
    padding:0;
    border:none;
    position: relative;
    z-index: 0;
}

.main_card a {
    text-decoration: none;
    color: var(--color-black)

}


.main_card-img > img {
    border-radius: 2%;
    width:100%;
}

.main_card-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;


}

.main_card-title:hover {

    color: var(--color-orange)
}


@media screen  and (min-width:0px) and (max-width:768px) {
   
    .main_card {
        margin: 0.3rem;
    }

}