
.navBar {
    top: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    display: flex;
    background-color: #E38B29;
  }
  
  .navBar .logo {
    position: fixed;
    display: inline-flex;
    gap: 0.3rem;
    color: var(--color-brown);
    margin-right: 1rem;
    padding-top: 0.5rem;
    margin-left: 0.4rem;
  }
  

  .navBar .logo div:nth-child(2) h3 {
    font-weight: bold;
  }
 
  .navBar .navButtons {
    
    display: flex;
    right: 60px;
  }
  
  

  .navBar .navButtons .individual_button:hover,
  .navBar .navButtons .individual_button .cart_button .active {
    color: #fff;
    transform: scale(1.5);
    
  }

 
  .navBar .account_button {
    border: none;
    background: none; 
    position: fixed;
    cursor: pointer;
    right: 140px;
    top: 10px;
    z-index: 11;

  }

  .navBar .cart_button {
    border: none;
    background: none; 
    position: fixed;
    cursor: pointer;
    z-index: 11;
    right: 235px;
    top: 10px;
  }

  .navBar .badge {
    border: none;
    background-color: var(--color-brown); 
    border-radius:50%;
    position: fixed;
    cursor: pointer;
    z-index: 11;
    right: 10.5rem;
    top: 4px;

  }


  .navBar .individual_button {
   
    color: #562B08;
    width: 40px; 
    height: 40px;
    transition: color, transform 400ms ease;
  }

  .navBar  .close {
   
    color: #fff;

  }


  .navBar .cart_list {
    
    top:8vh;
    padding:1rem;
    width:fit-content;
    right:6rem;
    height:fit-content;
    background-color: #fff;
    list-style: none;
    position: fixed;
    -webkit-box-shadow: 6px 4px 14px 3px rgba(0,0,0,0.44); box-shadow: 6px 4px 14px 3px rgba(0,0,0,0.44);
  }

 .navBar .cart_list .product_in_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;

 }


 .navBar .cart_list img {
  border-radius:50%;
  width:50px;
  height:50px;
  object-fit: cover;
 }
 
 .navBar .cart_list .product_in_cart_detail {
  display:flex;
  flex:1;
  padding: 0 20px;
  flex-direction: column;
 }

 .navBar .cart_list .go_to_cart {
  color: #fff;
  border: none;
  cursor:pointer;
  padding:0.5em;
  position:relative;
  transition: 300ms ease;
  background-color:  #e99338;
  text-shadow: -1px 1px #5d3609;
  width:95%;
  margin: 0 10px;

 }

 .navBar .cart_list .go_to_cart:hover {
  background-color: #e68013;
  text-shadow: -1px 1px #58280a;


 }


 .navBar .cart_list .go_to_cart:active {

 background-color: #da6e15;
 text-shadow: -1px 1px #382608;

 }
   

  

  .navBar .hamMenu {
    border: none;
    background: none; 
    position: fixed;
    right: 40px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
  }

  .navBar .hamMenu .individual_button:hover {
    color: #fff;
    transform: scale(1.5);
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 8vh;
    background: darkcyan;
    right: 0;
    bottom: 0;
    display:flex;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    max-width: 350px;
    min-width:200px;
    display:none;
    z-index: 9;
    -webkit-box-shadow: 0px 5px 9px 5px rgba(0,0,0,0.56); 
    box-shadow: 0px 5px 9px 5px rgba(0,0,0,0.56);
  }
  
  .menuNav.showMenu {
    display: block;
    transform: translateX(0%);
    animation: openNav 0.6s ease-in-out;
  }

  /*.menuNav.closeMenu {
    display:block;
    animation: closeNav 0.6s ease-in-out;
    transform: translateX(110%);
  }
  */
  
  .menuNav a {
    display: block;
    padding: 2em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    
  }

  .menuNav a:hover {
    color:#E38B29;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
  }


  

  @media screen  and (max-width:550px) {

  .navBar .logo div:nth-child(2) h3 {
    display:none;
    

  }

  .navBar .account_button {
    right:120px;
  }

  .navBar .cart_button {
    right:200px;
  }

  .navBar .badge {
    right:175px;
  }

 

}

@keyframes openNav {
  0% {transform: translateX(100%)}
  100% {transform: translateX(0%)}
  
}
/*
@keyframes closeNav {
  0% {transform: translateX(0%)}
  100% {transform: translateX(100%)}
  
}*/

