
.card_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    z-index: 0;
}

.card_container .product_card {
    position:relative;
    cursor: pointer;
    color: var(--color-black);
    margin: 0 5rem;
    padding:0;
    border:none;
    text-align: center;

}

.card_container .product_card .img {
    height:10%;
    
}


.card_container .product_card .img > img {
   
    padding:2em;
    width:100%;
    height:300px;
    
}

.card_container .product_card .title {

    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;


}

.card_container .product_card .title:hover {

    color: var(--color-orange);
}

.card_container .product_card .price {
    z-index: 1;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.card_container .card_button {
    font-size: 1.2rem;
    color: #fff;
    border: none;
    cursor:pointer;
    padding:1em;
    position:relative;
    transition: 300ms ease;
}

.card_container  .add_in_cart {
    background-color:  #e99338;
    text-shadow: -1px 1px #5d3609;
}

.card_container  .add_in_cart:hover {
    background-color: #e68013;
    text-shadow: -1px 1px #58280a;
}

.card_container .add_in_cart:active {
    background-color: #da6e15;
    text-shadow: -1px 1px #382608;
}

.card_container  .remove_from_cart {
    background-color:  #d53e24;
    text-shadow: -1px 1px #451307;
}

.card_container .remove_from_cart:hover {
    background-color: #7c1b0a;
    text-shadow: -1px 1px #58280a;
}

.card_container .remove_from_cart:active {
    background-color: #59160b;
    text-shadow: -1px 1px #450805;
}


.text-right {
    text-align:right;
}



@media screen  and (min-width:0px) and (max-width:768px) {
   
    .card_container .product_card {
        margin: 0.3rem;
    }

}