
.search_container{
  
    
    margin-left: auto;
    max-width: 350px;
    height: 90px;
    overflow-x: hidden;
  }
  .search_box{

   width: 350px;
   overflow:hidden;
  }
  
  .search_box .search_button{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    font-size:60px;
    top: 2.6em;
    right:0.5em;
    color: rgba(55, 28, 3, 0.861);
    -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
  }


  .search_box .search_button:hover {
    transform: scale(1.2);
  }

  
  .search_box #search_field_unactive {
    transform: translateX(40%);
    transition:transform 0.6s ease-out;
    overflow: hidden;
    width:0;
    height:0;
    opacity: 0;
    z-index: 1;
  } 
  
  

  .search_box #search_field_active {
    z-index: 2;
    color:#fff;
    position:relative;
    background-color:darkcyan;
    overflow: hidden;
    outline:none;
    width: 340px;
    height:60px;
    margin-top: 20px;
    padding-right: 0px;
    border: none;
    font-size: 0.9em;
    float: right;
    padding-left: 20px;
    border-radius: 10px;
    transform: translateX(-3%);
    transition: transform 0.6s ease-out;
    
  }


  
  