
.wrapper_large {
    
  position: relative;
  z-index: 2;
  width: 100%;
    
}

.wrapper_large .hello_image {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 9px 5px rgba(0,0,0,0.56); 
  box-shadow: 0px 5px 9px 5px rgba(0,0,0,0.56);
}

.wrapper_large .inner {
  position: absolute;
  transform: translateX(-2vw);
  z-index: 2;
  padding: 2rem;
  color: var(--color-white);
  font-weight: bold;
  font-style: italic;
  font-size: 7vw;
  animation: 2s slide-in 1s both;
}


@keyframes slide-in {
  0% {
    transform: translate(-7vw);
    opacity:0;
  }
  100% {
    transform: translate(2vw);
    opacity:1;
  }
}

.wrapper_small {
  display:none;
  color:var(--color-beige);
  background-color: var(--color-brown);
  font-size:2.5rem;
  height:100vh;
  text-align: center;
   
}

.wrapper_small p {
  padding: 1.2rem;
  text-align: center;
 
}

.wrapper_small p:first-child {
  -webkit-animation:  1s ease 0s normal forwards 1 fadein;
  animation:1s ease 0s normal forwards 1 fadein;
}

.wrapper_small p:nth-child(n+2) {
  -webkit-animation:  2s ease 0s normal forwards 1 fadein;
  animation:2s ease 0s normal forwards 1 fadein;
}



.wrapper_small p span {
  font-weight:bold;
 
}

.wrapper_large {
  
  -webkit-animation:  fade 2s linear;
  animation:fade 2s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fadein {
  0% { opacity:0; }
  26% { opacity:0.4; }
  100% { opacity:1; }
}
@-webkit-keyframes fadein {
  0% { opacity:0; }
  26% { opacity:0.4; }
  100% { opacity:1; }
}

@media screen and (min-width:1201px) {

  .wrapper_large {
    width:70vw;
    margin: 0 auto;
  }

}


@media screen  and (min-width:769px) and (max-width:1200px){
  .wrapper_large .inner{
    font-size: 8vw;

  }
 
}


@media screen  and (min-width:0px) and (max-width:768px){

  .wrapper_large {
    display: none;
  }

  .wrapper_small {
    display:flex;
    flex-direction: column;
    align-content: center;
    gap:1.5rem;


  }

  .wrapper_small .header_text {

    color:var(--color-beige);
    text-decoration:none;

  }

  .wrapper_small .small_text {


    font-size: 0.7em;

  }

}



