
  
.modal_wind_content_login{
    background-color: var(--color-beige);
    margin: 0 auto;
    padding:10%;
    width: 30vw;
    max-height: fit-content;
    text-align: center;
    color:var(--color-brown);
    
}


  
.modal_wind_content_login .close {
    position:absolute;
    top:0;
    right:-3em;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border: none;
    text-shadow: -1px 1px #5d3609;
    background-color:  #e99338;
    
  }
  
  .modal_wind_content_login .close:hover {
        background-color: #e68013;
  }
  
  .modal_wind_content_login .close:active {
    background-color: #da6e15;
    pointer-events: all;
  }
  
  .modal_wind_content_login .login_button {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em auto;
    padding: 0.5em 2em;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border: none;
    text-shadow: -1px 1px #5d3609;
    background-color:  #e99338;
    border-radius: 0%;
  }
  
  .modal_wind_content_login .login_button:hover {
        background-color: #e68013;
  }
  
  .modal_wind_content_login .login_button:active {
    background-color: #da6e15;
  
  }


  .modal_wind_content_login .links {
    color:var(--color-brown);
    cursor: pointer;
    text-decoration: underline;
  }


  @media screen  and (min-width:1024px) and (max-width:1600px) {
 
  .modal_wind_content_login{
  
    width:40vw;
  }
  
  }

  @media screen  and (min-width:769px) and (max-width:1023px) {
 
    .modal_wind_content_login{
    
      width:60vw;   
    }
    
    }

  @media screen   and (min-width:481px) and (max-width:768px) {
 
    .modal_wind_content_login{
    
      width:70vw;

    }
    
    }



@media screen  and (max-width:480px) {


  .modal_wind_content_login  .close {
    font-size: 0.8em;
    right:-2rem;
    z-index: 5;

}

.modal_wind_content_login{
  width:fit-content;
  padding:5%;


}

}