.filters {
    background-color: var(--color-orange);
    width: 15em;
    color:#fff;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:20px ;
    height:fit-content;
    gap: 1em;
    position: absolute;
    top:11.5em;
    z-index:2;
    left:-16em;
    border-radius: 10px;
}


.filters>span {
    display: block;
    margin:0;
    
}

 .filter_button {
    
   
    margin:0em 0em 0 0.5em;
    top:0.5em;
    color: #562B08;
    width: 3em; 
    height: 3em;
    transition:  transform 400ms ease;
    position: relative;
  }

   .filter_button:active, .filter_button:hover,.filter_button_container:hover
  {
    
    transform: scale(1.2);
    
  }


  .filters.activ {
    left:0em;
    animation: openFilters .6s ease-in-out;

  }




  .filter_button_container {
    float: left;
    margin-left:0em;
    cursor: pointer;
  }

  
  @keyframes openFilters {
    0% {transform: translateX(-100%)}
    100% {transform: translateX(0)}
    
  }


