.carousel_main {
  height:120vh;
  -webkit-animation:  3s ease 0s normal forwards 1 fadein;
  animation:3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadein {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


.container { 
  display:flex;

}



.container .card_text {
  margin: auto 0;
  text-align: justify;
 
}

.container .card_text h3 {

  color:var(--color-brown);
  font-size:2.5rem;
  font-weight:bold;
  text-align: center;
  margin-bottom: 1em;

}


.carousel-indicators button {
  width: 1rem !important;
  height: 1rem !important;
  border-radius: 50%;
   
}


.carousel-indicators   {
    
  top: 45rem;
  left: 0;

}


.container .to_menu {
    font-size: 1.2em;
    font-weight: bold;
    margin:2em auto;
    padding: 1em;
    width: fit-content;
    height: fit-content;
    border: none;
    text-shadow: -1px 1px #5d3609;
    background-color:  #e99338;
    
    
}

.container .small_screen {
  display:none;
}

.container .to_menu:hover {
  background-color: #e68013;
}

.container .to_menu:active {
  background-color: #da6e15;

}




@media screen  and (min-width:1201px) 
{

  .container {
    width:80%;
    height:70vh;
    margin: 10% auto;


  }

  .container .card_text {
    max-width: 50%;

  }

  .container img {
  
     margin: auto;
     max-height: 100%;
     max-width: 100%;
     width:100%;
     height:auto;
    
  }
  
}

  @media screen  and (min-width:769px) and (max-width:1200px)
  {
    
    .container {
      margin-top: 5%;
      height:60rem;
      flex-direction: column;
    }

    .container img {
      max-height: 80%;
      max-width: 80%;
      margin: 0 auto;
    }

    .container .card_text {
      margin:  0 auto;
      padding: 4rem;
    }

    .container .small_screen {
      display:block;
    }
    .container .large_screen {
      display:none;
    }


    .carousel-indicators   {
      top: 64rem;
  
    }

    .carousel_main {
      height:150vh;
     
    }
    
  }



 
  @media screen  and (min-width:481px) and (max-width:768px) {

    .container {
      gap:0rem;
      margin-top: 5%;
      height:70rem;
      flex-direction: column;
      justify-content: space-between;
    }

    .container .card_text {

      margin:  0 auto;
      padding: 4rem;

    }
    .container img {
      margin: 0 auto;
      max-height: 100%;
     max-width: 100%;
     width:100%;
     height:auto;
    }

    .container .small_screen {
      display:block;
    }
    .container .large_screen {
      display:none;
    }

    .carousel-indicators   {
    
      top: 70rem;
      
  
    }
    .carousel_main {
      height:160vh;
     
     
    }

  }

  @media screen  and (min-width:0px) and (max-width:480px) {


    .container .card_text p {
      display: none;
    }

    .container .card_text h3 {
      text-align: center;
      font-size: 2rem;

    }

    .container{
      width:90%;
      height:50rem;
      flex-direction: column;
      
    }

    .container .card_text {

      margin:  0;
      padding: 2rem;
     
    }


    .container img {
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
      height:auto;
    }

    .container .small_screen {
      display:block;
    }
    .container .large_screen {
      display:none;
    }

    .carousel_main {
      height:100vh;
     
    }

    .carousel-indicators   {
      top: 39rem;
    }
   
  }
