

.contact_block {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    background: url("../../img/Place Your Design.png") no-repeat ;
    color:var(--color-brown);
    background-size: cover;
    padding-bottom: 1rem;
}

.contact_block h2 {
    font-size: 4em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: var(--color-beige);
    margin: 0 0 1rem 0;
    padding:0;
   

}

.message {
    width:50%;
    box-sizing: border-box;
    animation: 2s slide-in 0s both;
}


@keyframes slide-in {
  0% {
    transform: translate(-6vw);
    opacity:0;
  }
  100% {
    transform: translate(0vw);
    opacity:1;
  }
}



.contact_block .form {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-beige);
    box-sizing: border-box;
    width:fit-content;
    justify-content: space-between;
    height: max-content;
    padding: 2em;
    margin-right:2em;
    gap: 2em;

}

.contact_block input[type="text"], textarea, input[type="email"] {
    background: #FFFFFF;
    color: var(--color-brown);
    font-size: 2.25em;
    font-weight: 400;
    text-align: left;
    margin:0em;
    border: none;



    
}

.contact_block span {
    position:relative;
    top:4em;

}


.contact_block textarea{
    padding:0em 0em 0 0.3em;
    width:100%;
    height:auto;
   

}

.contact_block input[type="text"],input[type="email"] {
   width:calc(100%/2 - 0.5em);
   box-sizing: border-box;
   padding:0.3em;
    
    

}
.contact_block .send_message {
    font-size: 2em;
    font-weight: bold;
    margin: 0em auto 0;
    padding: 0.2em 1em;
    color: var(--color-beige);
    width: fit-content;
    height: fit-content;
    border: none;
    text-shadow: -1px 1px #5d3609;
    background-color:  var(--color-brown);
    border-radius: 0%;
  }
  
  .contact_block .send_message:hover {
        background-color:#432e17
  }
  
  .contact_block .send_message:active {
    background-color: #271d12
  
  }

.contact_block .map {
    
    animation: 2s slide-in2 0s both;
}


@keyframes slide-in2 {
  0% {
    transform: translate(6vw);
    opacity:0;
  }
  100% {
    transform: translate(0vw);
    opacity:1;
  }
}







.footer_2 {
    display:flex;
    flex-flow: row wrap;
    font-style: italic;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding-top: 3em;
    flex-grow: 2;
    background-color: var(--color-beige);
    color: var(--color-brown);
    animation:fade 4s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.footer_2 h5 {
    font-size: 2.25em;
    margin:0 0 2rem 0;
    padding:0;

}



.footer_2 p, .footer_2 ul, h6 {
    font-size: 2rem;
    margin:0;
    padding:0;

}

.footer_2 ul {
    font-size: 2rem;
    list-style: none;
    text-align: left;
}

.footer_2 ul span {
    margin: 0.5em;
}


.footer_2 span, h5, h6 {

    font-style:normal;
    font-weight: 700;
    text-align: center;
}

.footer_2 a {
    text-decoration: none;
    color:var(--color-brown);

}

.footer_2:first-child p {

    margin:auto 0;
}


.footer_2 a:active,.footer_2  a:focus,.footer_2  a:hover
{
  color: #fff;
  text-decoration:none;
}

.map-responsive {
    margin-top: 1rem;
   height:800px;
   width:600px;
    
}




@media screen and (min-width:0px) and (max-width: 768px) {


    .contact_block {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap:2rem;
        margin: 0;
        padding:0;
        
    
    }

    .contact_block h2 {
        font-size: 3em;


    }
    .contact_block .form {
        font-size: 1.2em;
        gap: 1.3em;
        padding: 1em;
        margin:0 auto;
        gap:0;
        
    }
   

    .contact_block .message {
        width:90%;
        margin: 0;
        padding: 0;
       

    }

    .contact_block input[type="text"], input[type="email"], textarea {
        margin-top:1em;
        font-size: 1.25em;
        width:100% !important;
        
        
    }
    
    .contact_block input[type="text"]:not(#three),input[type="email"] {
       
        padding:0.3em;
        height: min-content;
         
         
     
     }

     .contact_block input[type="text"]:not(#one) {
     padding:0em 0em 50% 0.3em;
     }
     
    .contact_block .send_message {
        font-size: 1.25em;
        margin-top: 2em;
    }
   
   
    .map-responsive {
        
            height:500px;
            width:300px;
             
         
          
    }
    .footer_2 p, ul, h6, h5 {
        font-size: 1.2rem !important;

    }

   .footer_2 {
    gap:2em;
   }

}


@media screen and (min-width:768px) and (max-width: 1620px){


    .contact_block  {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        gap:2rem;
        margin: 0;
    
    }

    .contact_block .form {
        gap: 1.3em;
        margin: 0 auto;
    }


    .contact_block .form input, textarea, .send_message {
        font-size: 3.5vw;
    }


    .contact_block .send_message {

        font-size: 3.5vw;
        
    }

   
    
    .contact_block .message {
        width:75%;
        margin: 0;
        padding: 0;
       

    }
   
   
   
  
    .contact_block .map {
       
        box-sizing: border-box;
    }

}


    
